<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DurableTask" version="1.0.0.11" targetFramework="net461" />
  <package id="ImpromptuInterface" version="6.2.2" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Debug" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net462" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.1.17" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.1.17" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="4.1.2" targetFramework="net462" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net461" />
</packages>