<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="TaskHubName" value="unittesthub"/>
   </appSettings>

  <connectionStrings>
    <add name="ServiceBus" connectionString="Endpoint=sb://homagmdw.servicebus.windows.net/;SharedAccessKeyName=DTF;SharedAccessKey=SDcRR1HGh5Bi+XPqJTFOwj6Rb4nx9f8XA/qLUYgRP00=" />
    <add name="Storage" connectionString="DefaultEndpointsProtocol=https;AccountName=homagdtf;AccountKey=oCzQDZhvwTawd0qBOevqAAMWhrXEVgnPbmwmZOv9jnNCoLHUPUhyv0fPxSZjqeKEYv9gMJDiJnrlzs9+mDu9tA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  
  <!--<connectionStrings configSource="ConnectionStrings.config"></connectionStrings>-->

</configuration>