<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SqlStateProviderConnectionString" value="Server=tcp:daenetdevserver2.database.windows.net,1433;Database=iMdhDb;User ID=imdhuser;Password=#46Tgyl67;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=orleanscartracking;AccountKey=fvRSIFffQxfhuACfMFjm4xe3AXP8jg37SePls1WBNuCkrwBYExCDIzSUtjKsKoZ7RPzOBhLezl62qjqbDYrV6A==" />
    <add key="ServiceBusConnectionString" value="Endpoint=sb://se2014.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=nFO0cwsxzNia9tS4BLhmsS60doRjcPlG+1YweddbcBc=" />

    <add key="TaskHubName" value="TaskHub" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>